.slider {
    /* max-width: 400px; */
    margin: 0 auto;
  }
  
  .slider__input {
    width: 100%;
  }
  
  .slider__image {
    height: 300px;
    width: 300px;
    background-color: aqua;
    display: block;
    max-width: 100%;
  }